<% layout("./layouts/default.ejs") %>
            <div class="row">
                <div class="card listing-card  col-sm-12 col-md-10 col-lg-7 cpl-xl-6 mx-auto">
                    <h3 class="mb-3"><b><%= detail.title %></b><br></h3>
                    <img src="<%= detail.image %>" class="card-img-top show-img" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <p class="card-text ownerText">Owned by <b><i><%= detail.owner.username %></i></b></p>
                            <%= detail.desc %><br>
                            &#8377;<%= detail.price.toLocaleString("en-IN") %><br>
                            <%= detail.location %><br>
                            <%= detail.country %><br>
                        </p>
                    </div>
                    <% if (current_user && current_user._id.equals(detail.owner._id)) { %>
                        <div class="controls mt-4">
                            <a href="/listings/<%= detail._id %>/edit" class="btn btn-info">Edit</a>
                            <form method="post" action="/listings/<%= detail._id %>?_method=DELETE">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>

            <!-- ! added a condition which checks the status of current_user, if current user exists they can see this form and hence can create review, if not the can't write a review! -->
            <% if (current_user) { %>
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-12 col-md-10 col-lg-7 cpl-xl-6 mx-auto">
                            <h4>Add a review! </h4>
                            <form method="post" action="/listings/<%= detail._id %>/reviews?_method=POST" novalidate class="needs-validation">
                                <label for="rating" class="form-label">Slide the slider to rate!</label>
                                <input type="range" min="1" max="5" class="form-range" name="review[rating]" id="rating"><br>
                                <label for="comment" class="form-label">Write a comment about this place</label>
                                <textarea required name="review[comment]" class="form-control" rows="6" id="comment"></textarea>
                                <div class="invalid-feedback">Please write something ...</div>
                                <button class="btn btn-outline-dark mt-3">Done</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                </div>
                <% } %>
                <div class="container">
                <div class="row">
                    <div class="col col-sm-12 col-md-10 col-lg-7 cpl-xl-6 mx-auto">
                        <h4>Reviews-</h4>
                        <div class="container">
                            <div class="row row-cols-2">
                                <% for( let single of detail.reviews ) { %>
                                    <div class="col review-card mx-auto mb-3">
                                        <div class="card p-2">
                                            <div class="card-body ">
                                                <h5 class="card-title">Username</h5>
                                                <p class="card-text"><%= single.comment %></p>
                                                <p class="card-text "><%= single.rating %> Star</p>
                                            </div>
                                            <form method="post" action="/listings/<%= detail._id %>/reviews/<%= single._id %>?_method=DELETE" class="mt-2">
                                                <button class="btn btn-sm btn-dark">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


