<% layout("./layouts/default.ejs") %>
    <div class="row">
        <div class="col">
            <div class="row ">
                <div class="card col col-md-9 col-lg-9 mx-auto">
                    <img src="<%= detail.image %>" class="card-img-top show-img" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <br>
                            <b><%= detail.title %></b><br>
                            <%= detail.desc %><br>
                            &#8377;<%= detail.price.toLocaleString("en-IN") %><br>
                            <%= detail.location %><br>
                            <%= detail.country %><br>
                        </p>
                    </div>
                    <div class="controls mt-4">
                        <a href="/listings/<%= detail._id %>/edit" class="btn btn-info">Edit</a>
                        <form method="post" action="/listings/<%= detail._id %>?_method=DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>