<% layout("./layouts/default.ejs") %>
    <h1>Editing for: <%= detail.title %></h1>
    <form method="post" novalidate class="needs-validation" action="/listings/<%= detail._id %>?_method=PUT">
                <div class="mb-2">
                    <label for="title">Title</label>
                    <input required type="text" name="obj[title]" id="" class="form-control" value="<%= detail.title %>">
                    <div class="valid-feedback">Looks Great!</div>
                </div>
                <div class="mb-2">
                    <label for="desc">Description</label>
                    <textarea name="obj[desc]" class="form-control"><%= detail.desc %></textarea>
                    <div class="valid-feedback">Cool!</div>
                </div>
                <div class="mb-2">
                    <label for="price">Price</label>
                    <input required type="text" name="obj[price]" id="" class="form-control" value="<%= detail.price %>">
                    <div class="invalid-feedback">Enter a valid price</div>
                </div>
                <div class="row">
                    <div class="mb-2 col-md-8">
                        <label for="location">Location</label>
                        <input required type="text" name="obj[location]" id="" class="form-control" value="<%= detail.location %>">
                        <div class="invalid-feedback">Location is required!</div>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="country">Country</label>
                        <input required type="text" name="obj[country]" id="" class="form-control" value="<%= detail.country %>">
                        <div class="invalid-feedback">Country is required!</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                            <label class="col" for="img-link">Please paste the link of the image, Use Google Drive's link (if possible)</label>
                            <input required type="text" name="obj[image]" value="<%= detail.image %>" class="form-control" placeholder="https://service/folder/image.com">                      
                    </div>
                </div>
        <button class="btn btn-success">Save Changes</button>
    </form>

